/* .red{
  background-color: blue;
} */
#firstdiv{
    background-color: red;
}
#Seconddiv{
    background-color: pink;
}
.red{
    background-color: rgb(123, 123, 202);
}
 /* .bg-yellow{
    background-color: yellow;
 }
 .red{
    background-color: blue;
  } */