*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --1stcolor: blue;
    --2ndcolor: white;
    --3rdcolor:rgb(225, 225, 254);
}
body{
    background-color: var(--3rdcolor);
}
nav{
    padding: 2px;
    background-color: var(--1stcolor);
}
/* ul li{
    display: inline-block;
} */
 /* or */
 ul{
    display: flex;
 }
li{
    list-style: none;
    padding: 8px;
    margin: 5px 18px;
    color: var(--2ndcolor);
    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: bolder;
}
ul li a{
    text-decoration: none;
    color: var(--2ndcolor);
}
