*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav{
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding: 20px;
   background-color: white;
   gap: 80px;
} 
.logo img{
    height: 56px;
    width: 175px;
    
}
ul{
    display: flex;
   gap: 35px;
}
li{
    list-style: none;
    display: flex;
   align-items: center;

    /* padding: 0px 20px  ;  */
   
}
li span{
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 15px;
    font-weight: 400px;
    color: #222;
}
ul li a{
    text-decoration: none;
    color: black;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 23px;
    margin: 70px;
    font-family: sans-serif;
    text-align: center;
}
.first img{
    margin-left: 35px;
}
.first p{
    font-size: 27px;
    width: 67vw;
    text-align: center;
}
.first span{
    font-size: 54px;
    text-align: center;
}
.btn{
    background-color: #00b6d1;
    font-size: 14px;
    color: white;
    font-weight:700;
    border: none;
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    margin: 12px 0px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green{
    background-color: #5cb85c;
}

.small{
    font-size: 12px;
}

/* .flex{
    display: flex;
} */
.second{
    max-width: 70vw;
    margin: auto;
}
.item{
    padding: 32px;
    background: #f9f9f9;
    border-radius: 12px;
    text-align: center;
  
}
.lang{
    font-weight: 700;
    text-align: center;
    padding-bottom:50px ;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download{
    display: flex;
    font-family: sans-serif;
   align-items: center;
   gap: 8px;
}
.download img{
    padding: 10px;
}
@media screen and (max-width: 1145px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    .grid{
        grid-template-columns: 1fr;
       
    }
    
}
